 <!-- ========================================== -->
        <!-- MODUL: GURU                                -->
        <!-- ========================================== -->
        <div id="modulGuru" class="hidden fade-in">
          <!-- Form Guru -->
          <div class="bg-white p-6 rounded-xl shadow-sm border mb-6" id="formGuru">
          
          </div>
          <!-- Tabel Guru -->
          <div class="bg-white rounded-xl shadow-sm border overflow-hidden">
            <table class="w-full text-left">
              <thead class="bg-slate-50 border-b">
                <tr>
                  <th class="py-3 px-4">ID</th><th class="py-3 px-4">Nama</th><th class="py-3 px-4">Mapel</th><th class="py-3 px-4">No HP</th><th class="py-3 px-4 text-center">Aksi</th>
                </tr>
              </thead>
              <tbody id="tabelGuru" class="divide-y divide-slate-100"></tbody>
            </table>
          </div>
        </div>